<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <table width="50%" border="1">
        <tr>
            <td>Id</td>
            <td>Image</td>
        </tr>
        {{# each photo}}
        <tr>
            <td>{{_id}}</td>
            <td> <img src='../upload/photo/{{_id}}' alt="" width="250px" height="200px"></td>
        </tr>  
        {{/each}}
    </table>
</body>
</html>