<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="edit" method="POST">
    <input type="hidden" name="id" value="{{sanPham._id}}">
    Name : <input type="text" name="name" value="{{sanPham.TenSP}}">
    <br>
    Gia : <input type="text" name="gia" id="" value="{{sanPham.Price}}">
    <input type="submit" value="Update">
    </form>
</body>
</html>