<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="insert" method="POST">
        Ten sp <input type="text" name="tenSP">
        <br>
        Gia sp <input type="text" name="giaSP" id=""> 
        <br>
        <input type="submit" value="Insert SP">
    </form>
</body>
</html>